[bumpversion]
current_version = 0.3.21
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:oldaplib/src/version.py]
