[tool.poetry]
name = "omaslib"
version = "0.1.12"
description = "Open Media Access Server Library (Linked Open Data middleware/RESTApi)"
authors = ["Lukas Rosenthaler <lukas.rosenthaler@unibas.ch>"]
license = "GNU Affero General Public License version 3"
readme = "README.md"

[tool.mkdocs]
plugins = ["mkdocs-material", "mkdocstrings"]

packages = [
    { include = "omaslib" }
]

exclude = [
    "omaslib/test",
    "omaslib/testdata"
]

[tool.poetry.dependencies]
python = "^3.12"
pystrict = "^1.3"
requests = "^2.31.0"
rdflib = "^7.0.0"
pyshacl = "^0.25.0"
xmlschema = "^3.0.1"
isodate = "^0.6.1"
bcrypt = "^4.1.2"
mkdocs = "^1.5.3"
setuptools = "^69.0.3"
lazydocs = "^0.4.8"
mkdocstrings = "^0.24.0"
mkdocstrings-python = "^1.8.0"
pyjwt = "^2.8.0"
coverage = "^7.4.3"
validators = "^0.22.0"
mkdocs-material = "^9.5.18"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
