[tool.poetry]
name = "oldaplib"
version = "0.1.28"
description = "Open Media Access Server Library (Linked Open Data middleware/RESTApi)"
authors = ["Lukas Rosenthaler <lukas.rosenthaler@unibas.ch>"]
license = "GNU Affero General Public License version 3"
readme = "README.md"

[tool.mkdocs]
plugins = ["mkdocs-material", "mkdocstrings"]

packages = [
    { include = "oldaplib" }
]

exclude = [
    "oldaplib/test",
    "oldaplib/testdata"
]

[tool.poetry.dependencies]
python = "^3.12"
pystrict = "^1.3"
requests = "^2.32.1"
rdflib = "^7.0.0"
pyshacl = "^0.26.0"
xmlschema = "^3.0.1"
isodate = "^0.6.1"
bcrypt = "^4.1.2"
mkdocs = "^1.5.3"
setuptools = "^70.0.0"
lazydocs = "^0.4.8"
mkdocstrings = "^0.25.1"
mkdocstrings-python = "^1.10.3"
pyjwt = "^2.8.0"
coverage = "^7.4.3"
validators = "^0.28.3"
mkdocs-material = "^9.5.18"
pymdown-extensions = "^10.10.2"
pyyaml = "^6.0.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
